<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('../partials/nav.ejs') %>
            <h2>Posts</h2>
            <% if(posts.length) { %>
                    <ul class="post-container">
                        <% posts.forEach(function(post){ %>
                            <form action="/delete/post/<%=post._id%>" method="POST">
                                <li class="post-item">
                                    <h3>
                                        <%= post.title%>
                                    </h3>
                                    <p>
                                        <%= post.description %>
                                    </p>
                                    <button class="delete" type="submit">Delete</button>
                                </li>
                                <hr>
                            </form>
                            <% }); %>
                    </ul>
                <% } else{ %>
                    <h2> No posts available...</h2>
                    <% } %>
    </div>
</body>
</html>